.metadata/*
PythonIntroduction/.project
PythonIntroduction/.pydevproject
/.metadata/
PythonProject/.project
PythonProject/.pydevproject
PythonProgram/.project
PythonProgram/.pydevproject
PythonIntroduction/day11/__pycache__/*